click==8.5.0
pydantic-settings==2.10.1
fastapi==0.141.1
h11==0.16.0
pydantic==2.13.5
python-dotenv==1.2.3
starlette==1.6.0
typing-extensions==4.16.0
uvicorn==0.52.4
boto3==1.43.91
python-magic
redis
requests